<div class="container headerContainer">
  <h2>Header component</h2>
  <!-- <p>{{name}}</p>
  <p>This is the number: {{age}}</p> -->
  <section>
    <h3 *ngIf="counter>=0">Log number: <span class="badge badge-secondary">{{counter}}</span></h3>
    <p>Boolean is {{boolean}}</p>
    <h3>Array string</h3>
    <div class="button">
      <button class="btn btn-success" (click)="changeBoolean(true)">Show</button>
      <button class="btn btn-danger" (click)="changeBoolean(false)">Hide</button>
    </div>
    <ul *ngIf="boolean" class="list-group">
        <li *ngFor="let array of arrayString" class="list-group-item">
          {{array}}
        </li>
    </ul>
  </section>

  <section>
    <h2>Array data: <span>{{datiLength}}</span></h2>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Boolean</th>
        <th>Button</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of dati">
          <td scope="row">{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.boolean}}</td>
          <td><button class="btn btn-primary" (click)="visualizzaNelBody(data)">Show body</button></td>
        </tr>
      </tbody>
    </table>

    <div class="button">
        <button class="btn btn-success" (click)="visualizza()">Visualizza</button>
        <button class="btn btn-primary" (click)="aggiungi()">Aggiungi</button> 
      </div>
      
  </section>
</div>
